<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--<add name="WcfDemoDatabaseContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=WcfDemo.Database.WcfDemoDatabaseContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="WcfDemoDbContext" connectionString="data source=(LocalDB)\MSSQLLocalDB;initial catalog=WcfDemo;integrated security=True" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>